@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background-color: #f9f7f7;
  font-family: "Source Sans Pro";
  color: #112d4e;
}

a {
  color: #3f72af;
}

hr {
  background-color: #f9f7f7;
  border-style: none;
  border-top-style: dotted;
  border-color: #dbe2ef;
  border-width: 10px;
  width: 20%;
}

img {
  height: 150px;
}

h1 {
  color: #112d4e;
}

h3 {
  color: #112d4e;
}

td {
  vertical-align: top;
}
