body {
  background-color: #f9f7f7;
  font-family: sans-serif;
}
hr {
  background-color: #f9f7f7;
  border-style: none;
  border-top-style: dotted;
  border-color: #dbe2ef;
  border-width: 10px;
  width: 20%;
}
img {
  height: 150px;
}
h1 {
  color: #112d4e;
}
h3 {
  color: #112d4e;
}
